<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency Pipes</title>
  </head>
  <body>
  <div class="title-card">
  <h1>ANGULAR PIPES DEMONSTRATION</h1>
  <h2>Currency Pipes</h2>
  </div>
  <hr class="line" />
    <div class="banner-table">
      <h3>PRICE VALUE: 2500</h3>
      <p>{{ price | currency: '': true}}</p>
    </div>
      <table id="currency">
        <tr>
          <th>COUNTRY</th>
          <th>CURRENCY SYMBOLS</th>
        </tr> 
        <tr>
          <td>INDIAN RUPEE</td>
          <td>{{ price | currency: 'INR'}}</td>
        </tr>
        <tr>
          <td>JAPANESE YEN</td>
          <td>{{ price | currency: 'JPY'}}</td>
        </tr>
        <tr>
          <td>KOREAN WON</td>
          <td>{{ price | currency: 'KRW'}}</td>
        </tr>
        <tr>
          <td>PHILIPPINE PESO</td>
          <td>{{ price | currency: 'PHP'}}</td>
        </tr>
        <tr>
          <td>US DOLLAR</td>
          <td>{{ price | currency: 'USD'}}</td>
        </tr>
      </table>
      <br/>
  </body>
</html>
